*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  box-sizing: border-box;
  color: #777;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #e84545;
}

a {
  text-decoration: none;
}

a:hover {
  color: crimson;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
.bgimg-1 {
    background-image: url("images/IMG_0059.jpg");
    min-height: 100%;
  }
  
.bgimg-2 {
    background-image: url("images/IMG_0015.jpg");
    min-height: 400px;
  }
  
.bgimg-3 {
    background-image: url("images/IMG_0026.jpg");
    min-height: 400px;
  }
  
.bgimg-4 {
    background-image: url("images/IMG_0003.jpg");
    min-height: 50%;
  }

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
.caption span.border {
    background-color: #e84545;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    border-radius: 10px;
  }

.border-title {
  background-color: #e84545;
    color: #fff;
    padding: 18px 20px;
    font-size: 50px;
    letter-spacing: 10px;
    border-radius: 10px;
  }

span.border2 {
    background-color: #e84545;
    color: #fff;
    padding: 8px;
    font-size: 16px;
    letter-spacing: 8px;
    border-radius: 10px;
  }

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

.accordion-header {
    background-color: #e84545;
    color: #fff;
}

.accordion-button {
    color: #fff;
}

.faqheading {
  text-align: center;
  padding: 50px;
  color: #e84545; 
}

.caption-return {
text-align: center;
font-size: large;
}
  
 /* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  }

 